<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>First Page</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'/>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            font-family: Poppins;
        }
        body{
            background-color: #143a47;
        }
        .img{
            background-image: url("image/computerImg.png");
            width: 234px;
            height: 159px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .report-title .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="flex flex-col overflow-scroll items-center gap-[5rem]">
    <!-- Cover -->
    <div style="background-color: #D6DEE1; width: 595px; height: 842px;">
        <!-- Inner Container -->
        <div style="height: 100%; display: flex; align-items: center; justify-content: center; position: relative;">
            <!-- SVG Background -->
            <div style="position: absolute; bottom: 0;">
                <svg width="595" height="768" viewBox="0 0 595 768" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M704.998 727.386L-24.5553 1092.03L-113.858 1.22405L704.998 727.386Z"
                          fill="url(#paint0_linear_3611_140066)"
                          fill-opacity="0.5"
                          stroke="#787486"/>
                    <defs>
                        <linearGradient id="paint0_linear_3611_140066"
                                        x1="-728.031" y1="200.198"
                                        x2="1405.8" y2="486.145"
                                        gradientUnits="userSpaceOnUse">
                            <stop offset="0.4499" stop-color="#9BDBFD" stop-opacity="0.3"/>
                            <stop offset="0.925752" stop-color="white"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>

            <!-- Report Frame -->
            <div style="display: flex; padding-top: 7.5%; justify-content: center; width: 512px; height: 762px; border: 2px solid white; position: absolute;">
                <!-- Report Content -->
                <div style="width: 404px; height: 633px; background-color: white; display: flex; justify-content: center; padding-top: 15%; position: relative;">
                    <!-- Gradient Background -->
                    <div style="width: 263px; height: 465px; background: linear-gradient(to bottom left, rgba(186, 230, 253, 0.15), rgba(186, 230, 253, 0.15));"></div>

                    <!-- Report Title -->
                    <p style="position: absolute; top: 20%; font-size: 24px; line-height: 32px; width: 150px; left: 3%; text-align: right; color: #143a47;">
                        <span style="font-weight: bold;" th:text="${boardName}">Report from zentrio board</span>
                    </p>

                    <!-- Company Section -->
                    <div style="position: absolute; height: 95px; right: 0; bottom: 40%; display: flex; flex-direction: column; justify-content: space-between;">
                        <p style="font-size: 12px; background-color: black; color: white; padding: 12px 13px; font-weight: bold;">
                            [COMPANY LETTERHEAD WITH LOGO]
                        </p>
                        <div style="width: 100%; height: 42px; padding-left: 20%; display: flex; justify-content: space-between; flex-direction: column;">
                            <p style="font-size: 12px;">[Company Name]</p>
                            <p style="font-size: 12px;">[Insert Contact Detail]</p>
                        </div>
                    </div>

                    <!-- Bottom Section -->
                    <div style="position: absolute; background-color: white; width: 285px; bottom: 0; right: 0; color: #143a47; display: flex; flex-direction: column; justify-content: space-between; padding-top: 2%;">
                        <div style="width: 100%; height: 56px; padding-left: 3%;">
                            <p style="font-size: 15px;">
                                <span style="font-weight: bold;">Prepared by:</span>
                            </p>
                            <p style="font-size: 15px;" th:text="${teamLead}">Mr. Lim Rosskan</p>
                        </div>
                        <div style="padding-left: 3%;">
                            <p style="font-size: 12px; height: 48px;">
                                Any inquiries with respect to this report may be directed to:
                            </p>
                            <p style="font-size: 12px; height: 42px;">[Insert Name]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page 1 -->
    <div style="width: 595px; height: 842px; background-color: white; display: flex; flex-direction: column; justify-content: space-between;">
        <p style="background-color: #59BAD5; width: 199px; height: 40px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; display: flex; justify-content: center; align-items: center; font-size: 24px; color: white;">
            <span style="font-weight: bold;">Reports</span>
        </p>

        <div style="width: 100%; height: 20%; display: flex; justify-content: center; align-items: flex-end;">
            <div style="width: 80%; height: auto; border: 1px solid black; border-radius: 5px;">
                <table style="width: 100%; text-align: center; font-size: 12px;">
                    <thead style="height: 28px; background-color: #59BAD5; color: white;">
                    <tr>
                        <td style="width: 120px;">Board Name</td>
                        <td style="width: 120px;">Task</td>
                        <td style="width: 120px;">Version</td>
                        <td style="width: 120px;">Date</td>
                    </tr>
                    </thead>
                    <tbody style="height: 40px;">
                    <tr style="border-top: 1px solid black;">
                        <td th:text="${boardName}">Hikko Design</td>
                        <td th:text="${taskCount}">08</td>
                        <td th:text="${version}">02</td>
                        <td th:text="${creationDate}">18/05/2025</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div style="width: 100%; height: 30%; display: flex; flex-direction: column; align-items: center;">
            <div style="background-color: white; width: 80%; height: 25%; display: flex; align-items: flex-end; font-size: 16px;">
                <p style="font-size: 16px; background: linear-gradient(to right, #59BAD5, #ABAAFF, #59BAD5); -webkit-background-clip: text; background-clip: text;">
                    I.&nbsp;&nbsp;Gantt Bar in
                    <span style="color: transparent;">Hikko Design</span>
                </p>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 75%;">
                <div style="width: 50%; height: 80%; display: flex; justify-content: center; position: relative;">
                    <div style="position: absolute; display: flex; justify-content: center; align-items: flex-end; height: 100%; padding-bottom: 5%;">
                        <div style="background-color: white; width: 180px; height: 115px;"></div>
                    </div>
                    <!-- svg -->
                    <div class="img" style="position: absolute;"></div>
                </div>
            </div>
        </div>

        <div style="width: 100%; height: 40%; display: flex; flex-direction: column; align-items: center;">
            <div style="width: 80%; height: 10%; display: flex; align-items: flex-end; font-size: 16px;">
                <p style="font-size: 16px;">II.&nbsp;&nbsp;Stages Information</p>
            </div>
            <p style="font-size: 12px; width: 72.5%; padding-top: 2.5%;">
                This section provides a structured overview of the
                project's workflow distribution across four stages: To Do,
                Progress, Under Review, and Completed.
            </p>
            <div style="width: 100%; display: flex; justify-content: center; background-color: white; padding-top: 5%;">
                <div style="border: 1px solid black; border-radius: 5px; width: 65%;">
                    <table style="font-size: 12px; width: 100%; height: 100%;">
                        <thead style="color: white; background-color: #59BAD5; height: 26px;">
                        <tr style="border-bottom: 1px solid black;">
                            <td style="border-right: 1px solid black; padding-left: 27px;">Stage</td>
                            <td style="border-right: 1px solid black; padding-left: 27px;">Tasks</td>
                            <td style="padding-left: 27px;">Checklists</td>
                        </tr>
                        </thead>
                        <tbody style="background-color: white;">
                        <tr style="border-bottom: 1px solid black; height: 32px;">
                            <td style="width: 143px; border-right: 1px solid black; padding-left: 27px;">To Do</td>
                            <td style="width: 143px; border-right: 1px solid black; padding-left: 27px;">10 tasks</td>
                            <td style="width: 143px; padding-left: 27px;">10 checklists</td>
                        </tr>
                        <tr style="border-bottom: 1px solid black; height: 32px;">
                            <td style="width: 143px; border-right: 1px solid black; padding-left: 27px;">Progress</td>
                            <td style="width: 143px; border-right: 1px solid black; padding-left: 27px;">8 tasks</td>
                            <td style="width: 143px; padding-left: 27px;">5 checklists</td>
                        </tr>
                        <tr style="border-bottom: 1px solid black; height: 32px;">
                            <td style="width: 143px; border-right: 1px solid black; padding-left: 27px;">Under Review</td>
                            <td style="width: 143px; border-right: 1px solid black; padding-left: 27px;">5 tasks</td>
                            <td style="width: 143px; padding-left: 27px;">7 checklists</td>
                        </tr>
                        <tr style="border-bottom: 1px solid black; height: 32px;">
                            <td style="width: 143px; border-right: 1px solid black; padding-left: 27px;">Completed</td>
                            <td style="width: 143px; border-right: 1px solid black; padding-left: 27px;">3 tasks</td>
                            <td style="width: 143px; padding-left: 27px;">6 checklists</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <p style="text-align: center; height: 4.5%; font-size: 12px;">page 1</p>
    </div>

    <!-- Page 2 -->
    <div style="width: 595px; height: 842px; background-color: white; display: flex; flex-direction: column; justify-content: space-between;">
        <p style="width: 199px; background-color: #59BAD5; height: 40px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; display: flex; justify-content: center; align-items: center; font-size: 24px; color: white;">
            <span style="font-weight: bold;">Reports</span>
        </p>

        <div style="width: 100%; height: 100%; display: flex; flex-direction: column; padding-top: 10%;">
            <div style="width: 100%; display: flex; justify-content: center;">
                <div style="height: 100%; display: flex; flex-direction: column; width: 85%;">
                    <p>
                        III.&nbsp;&nbsp;To Do Information
                    </p>
                    <div>
                        <div>
                            <div style="padding-top: 5%;">
                                <div style="border: 1px solid black; border-radius: 5px;">
                                    <table style="width: 100%; font-size: 12px;">
                                        <thead style="color: white; background-color: #59BAD5;">
                                        <tr style="height: 26px;">
                                            <td style="padding-left: 27px; border-right: 1px solid black;">Task Title</td>
                                            <td style="padding-left: 27px; border-right: 1px solid black;">Lead</td>
                                            <td style="padding-left: 27px;">
                                                Subtask Count
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody style="background-color: white;">
                                        <tr style="height: 32px; border-top: 1px solid black;">
                                            <td style="padding-left: 27px; border-right: 1px solid black;">Setup project repo</td>
                                            <td style="padding-left: 27px; border-right: 1px solid black;">
                                                Alice
                                            </td>
                                            <td style="padding-left: 27px;">1</td>
                                        </tr>
                                        <tr style="height: 32px; border-top: 1px solid black;">
                                            <td style="padding-left: 27px; border-right: 1px solid black;">Design UI</td>
                                            <td style="padding-left: 27px; border-right: 1px solid black;">
                                                Bob
                                            </td>
                                            <td style="padding-left: 27px;">2</td>
                                        </tr>
                                        <tr style="height: 32px; border-top: 1px solid black;">
                                            <td style="padding-left: 27px; border-right: 1px solid black;">API Development</td>
                                            <td style="padding-left: 27px; border-right: 1px solid black;">
                                                Charlie
                                            </td>
                                            <td style="padding-left: 27px;">1</td>
                                        </tr>
                                        <tr style="height: 32px; border-top: 1px solid black;">
                                            <td style="padding-left: 27px; border-right: 1px solid black;">Requirement gathering</td>
                                            <td style="padding-left: 27px; border-right: 1px solid black;">
                                                David
                                            </td>
                                            <td style="padding-left: 27px;">1</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="width: 100%; padding: 5% 0; display: flex; justify-content: center;">
                <div style="height: 100%; display: flex; flex-direction: column; width: 85%;">
                    <p>
                        IV.&nbsp;&nbsp;Under Review information
                    </p>
                    <div>
                        <div style="padding-top: 5%;">
                            <div style="border: 1px solid black; border-radius: 5px;">
                                <table style="width: 100%; font-size: 12px;">
                                    <thead style="color: white; background-color: #59BAD5;">
                                    <tr style="height: 26px;">
                                        <td style="padding-left: 27px; border-right: 1px solid black;">
                                            Task Title
                                        </td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">Lead</td>
                                        <td style="padding-left: 27px;">
                                            Subtask Count
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody style="background-color: white;">
                                    <tr style="height: 32px; border-top: 1px solid black;">
                                        <td style="padding-left: 27px; border-right: 1px solid black;">Setup CI/CD</td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">Bob</td>
                                        <td style="padding-left: 27px;">2</td>
                                    </tr>
                                    <tr style="height: 32px; border-top: 1px solid black;">
                                        <td style="padding-left: 27px; border-right: 1px solid black;">Frontend Dev</td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">Alice</td>
                                        <td style="padding-left: 27px;">1</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="width: 100%; display: flex; justify-content: center;">
                <div style="height: 100%; display: flex; flex-direction: column; width: 85%;">
                    <p>
                        V.&nbsp;&nbsp;Progress information
                    </p>
                    <div>
                        <div style="padding-top: 5%;">
                            <div style="border: 1px solid black; border-radius: 5px;">
                                <table style="width: 100%; font-size: 12px;">
                                    <thead style="color: white; background-color: #59BAD5;">
                                    <tr style="height: 26px;">
                                        <td style="padding-left: 27px; border-right: 1px solid black;">
                                            Task Title
                                        </td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">Lead</td>
                                        <td style="padding-left: 27px;">
                                            Subtask Count
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody style="background-color: white;">
                                    <tr style="height: 32px; border-top: 1px solid black;">
                                        <td style="padding-left: 27px; border-right: 1px solid black;">QA Testing</td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">Charlie</td>
                                        <td style="padding-left: 27px;">2</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p style="text-align: center; height: 4.5%; font-size: 12px;">page 2</p>
    </div>

    <!-- Page 3 -->
    <div style="width: 595px; height: 842px; background-color: white; display: flex; flex-direction: column; justify-content: space-between;">
        <p style="background-color: #59BAD5; width: 199px; height: 40px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; display: flex; justify-content: center; align-items: center; font-size: 24px; color: white;">
            <span style="font-weight: bold;">Reports</span>
        </p>

        <div style="width: 100%; height: 100%; display: flex; flex-direction: column; padding-top: 10%;">
            <div style="width: 100%; display: flex; justify-content: center;">
                <div style="height: 100%; display: flex; flex-direction: column; width: 85%;">
                    <p>
                        VI.&nbsp;&nbsp;Stage : Done
                    </p>
                    <div>
                        <div>
                            <div style="padding-top: 5%;">
                                <div style="border: 1px solid black; border-radius: 5px;">
                                    <table style="width: 100%; font-size: 12px;">
                                        <thead style="color: white; background-color: #59BAD5;">
                                        <tr style="height: 26px;">
                                            <td style="padding-left: 27px; border-right: 1px solid black;">
                                                Task Title
                                            </td>
                                            <td style="padding-left: 27px; border-right: 1px solid black;">Lead</td>
                                            <td style="padding-left: 27px;">
                                                Subtask Count
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody style="background-color: white;">
                                        <tr style="height: 32px; border-top: 1px solid black;">
                                            <td style="padding-left: 27px; border-right: 1px solid black;">Backend Deployment</td>
                                            <td style="padding-left: 27px; border-right: 1px solid black;">David</td>
                                            <td style="padding-left: 27px;">1</td>
                                        </tr>
                                        <tr style="height: 32px; border-top: 1px solid black;">
                                            <td style="padding-left: 27px; border-right: 1px solid black;">Documentation</td>
                                            <td style="padding-left: 27px; border-right: 1px solid black;">Alice</td>
                                            <td style="padding-left: 27px;">1</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="width: 100%; padding: 5% 0; display: flex; justify-content: center;">
                <div style="height: 100%; display: flex; flex-direction: column; width: 85%;">
                    <p>
                        VII.&nbsp;&nbsp;Subtasks
                    </p>
                    <div>
                        <div style="padding-top: 5%;">
                            <div style="border: 1px solid black; border-radius: 5px;">
                                <table style="width: 100%; font-size: 12px;">
                                    <tbody style="background-color: white;">
                                    <tr style="height: 32px; border-bottom: 1px solid black;">
                                        <td style="padding-left: 27px; border-right: 1px solid black; color: white; background-color: #59BAD5;  ">Task Title</td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">Backend Deployment</td>
                                        <td style="padding-left: 27px;">Documentation</td>
                                    </tr>
                                    <tr style="height: 32px; border-bottom: 1px solid black;">
                                        <td style="padding-left: 27px; border-right: 1px solid black; color: white; background-color: #59BAD5;  ">Subtask Title</td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">Deploy to server</td>
                                        <td style="padding-left: 27px;">Final review</td>
                                    </tr>
                                    <tr style="height: 32px; border-bottom: 1px solid black;">
                                        <td style="padding-left: 27px; border-right: 1px solid black; color: white; background-color: #59BAD5;  ">Members</td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">David Alice</td>
                                        <td style="padding-left: 27px;">Alice</td>
                                    </tr>
                                    <tr style="height: 32px; border-bottom: 1px solid black;">
                                        <td style="padding-left: 27px; border-right: 1px solid black; color: white; background-color: #59BAD5;  ">Attachments</td>
                                        <td style="padding-left: 27px; border-right: 1px solid black; color: #2563eb;">deploy_guide.pdf , env_var.env</td>
                                        <td style="padding-left: 27px; color: #2563eb;">docs_final.md</td>
                                    </tr>
                                    <tr style="height: 32px; border-bottom: 1px solid black;">
                                        <td style="padding-left: 27px; border-right: 1px solid black; color: white; background-color: #59BAD5;  ">Comments</td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">1 comment</td>
                                        <td style="padding-left: 27px;">0 comment</td>
                                    </tr>
                                    <tr style="height: 32px; border-bottom: 1px solid black;">
                                        <td style="padding-left: 27px; border-right: 1px solid black; color: white; background-color: #59BAD5;  ">Start Date</td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">2025-05-03</td>
                                        <td style="padding-left: 27px;">2025-05-01</td>
                                    </tr>
                                    <tr style="height: 32px;">
                                        <td style="padding-left: 27px; border-right: 1px solid black; color: white; background-color: #59BAD5;  ">End Date</td>
                                        <td style="padding-left: 27px; border-right: 1px solid black;">2025-05-04</td>
                                        <td style="padding-left: 27px;">2025-05-02</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p style="text-align: center; height: 4.5%; font-size: 12px;">page 3</p>
    </div>

    <!-- Page 4 -->
    <div style="width: 595px; height: 842px; background-color: white; display: flex; flex-direction: column; justify-content: space-between;">
        <p style="background-color: #59BAD5; width: 199px; height: 40px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; display: flex; justify-content: center; align-items: center; font-size: 24px; color: white;">
            <span style="font-weight: bold;">Reports</span>
        </p>
        <div style="width: 100%; height: 100%; display: flex; flex-direction: column; padding-top: 10%;">
            <div style="width: 100%; display: flex; justify-content: center;">
                <div style="height: 100%; display: flex; flex-direction: column; width: 85%;">
                    <p>
                        VIII.&nbsp;&nbsp;Monthly Task information
                    </p>
                    <div>
                        <div>
                            <div style="padding-top: 5%;">
                                <div style="border: 1px solid black; border-radius: 5px;">
                                    <table style="width: 100%; font-size: 12px;">
                                        <thead style="color: white; background-color: #59BAD5; font-size: 11px;">
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">Month</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">Task</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">Subtask</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">Completed</td>
                                            <td style="padding-left: 16px;">Version</td>
                                        </tr>
                                        </thead>
                                        <tbody style="background-color: white;">
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">January</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">4</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">6</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">72%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">February</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">5</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">8</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">78%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">March</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">6</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">9</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">80%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">April</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">7</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">11</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">83%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">May</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">8</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">13</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">85%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">June</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">9</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">14</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">88%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">July</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">10</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">16</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">90%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">August</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">9</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">15</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">89%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">September</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">8</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">13</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">87%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">October</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">7</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">12</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">86%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">November</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">6</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">10</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">84%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px; border-bottom: 1px solid black;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">December</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">5</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">9</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">82%</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        <tr style="height: 32px;">
                                            <td style="padding-left: 16px; border-right: 1px solid black;">Total</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">84</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">136</td>
                                            <td style="padding-left: 16px; border-right: 1px solid black;">84% avg</td>
                                            <td style="padding-left: 16px;">v1</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p style="text-align: center; height: 4.5%; font-size: 12px;">page 4</p>
    </div>
</div>
</body>
</html>